body {
  font-size: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(101, 141, 28, 1) 35%, rgba(0, 230, 246, 1) 100%);
  background-attachment: fixed;
  font-family: "Press Start 2P", cursive;
  color: #f2f2f2;
  text-shadow: 2px 2px #333, 0 0 10px #00e6f6;
}

h1, h2, h3 {
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px #333, 0 0 0px #00e6f6;
}

.overlay {
  background: url("overlay.png");
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  animation: overlay-anim 4s steps(10) infinite;
}

.mint-info {
  text-align: center;
  margin: 15px auto; /* Increase the margin as needed */
}

.mint-info h2, .mint-info p {
  margin: 0px 0;
  line-height: 1.5;
}

.mint-heading {
  text-transform: uppercase;

  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 45px;
  margin: 10px 0;
  position: relative;
  animation: pulse 1s infinite;
  line-height: 1.5;
}

/* .mint-heading:hover {
  border-color: #f2f2f2;
  box-shadow: 5px 5px #f2f2f2;
}  */

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}


.buttons {
  text-align: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  border: 1.75px solid #ffd700;
  box-shadow: 3px 3px #ffd700;
  padding: 20px 40px;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 20px;
  position: relative;
}

.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: 3px solid #ffd700;
  box-shadow: 5px 5px #ffd700;
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.button:hover:after {
  background-color: white;
  opacity: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0; /* Adjust the margin as needed */
}

.hero img {
  width: 500px;
  image-rendering: auto;
  box-shadow: 7px 7px #333;
  margin: 15px 0; /* Adjust the margin as needed */
}

.marquee-container {
  text-align: center;
  margin-top: 30px; /* Increase the margin as needed */
  padding-bottom: 10px;
  overflow: hidden;
}

.marquee {
  font-family: 'Press Start 2P', cursive;
  color: #FFD700;
  font-size: 24px;
  white-space: nowrap;
  animation: marquee-scroll 15s linear infinite;
}

.marquee img {
  max-height: 30px; /* Adjust the height as needed */
  margin-right: 10px; /* Adjust the margin between images and text */
  animation: rotateClockwise 4s linear infinite; /* Adjust the animation duration as needed */
}

.marquee span {
  display: inline-block;
  margin-right: 20px; /* Adjust the margin between text segments */
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-image {
  max-width: 300px; /* Adjust the size of the images as needed */
  margin: 0 10px; /* Adjust the spacing between images as needed */
  padding-right: 25px;
}

.title-box {
  width: 66.66%;
  margin: 0 auto;
  background-color: #e02c74; /* Change background color to  rgba(224, 44, 116, 0.5)for solid */
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 10px solid #ffd700;
  border-image-source: linear-gradient(45deg, #ffd700, #00e6f6);
  border-image-slice: 1;
  position: relative;
  overflow: hidden;
  z-index: -1;
}


.title-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: +1;
}

.title-text {
  color: #FFD700;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.button-box {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.stars-button {
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  border: 1.75px solid #ffd700;
  box-shadow: 3px 3px #ffd700;
  padding: 20px 40px;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 20px;
  position: relative;
}

.stars-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: 3px solid #ffd700;
  box-shadow: 5px 5px #ffd700;
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.stars-button:hover:after {
  background-color: white;
  opacity: 0;
}


.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  animation: glitch 0.5s infinite;
}

@keyframes glitch {
  0%,
  100% {
    transform: translate(0);
  }

  20%,
  60% {
    transform: translate(-5px, 5px);
  }

  40%,
  80% {
    transform: translate(5px, -5px);
  }
}

.button-image {
  max-height: 28px; /* Adjust the height to match the button's height */
  margin: 0 5px; /* Adjust the spacing around the image */
}